/SEM_5_PRACTICAL/J2EE/JSP/Theme/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Theme/build/
/SEM_5_PRACTICAL/J2EE/JSP/leap_year/dist/
/SEM_5_PRACTICAL/JSP-Programs-main/Calcuation_EL_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Calcuation_EL_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Current_DateTime_EL_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Current_DateTime_EL_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/ErrorPage_404_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/ErrorPage_404_JSP/dist/
/SEM_5_PRACTICAL/JSP-Programs-main/ErrorPage_404_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Error_Page_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Error_Page_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Hello_world/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Hello_world/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_Beans_Property_Set/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_Beans_Property_Set/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_Forward_tag/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_Forward_tag/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_Include_tag/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_Include_tag/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_useBeans_tag/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSP_useBeans_tag/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_Divisible_2_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_Divisible_2_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_EvenOdd_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_EvenOdd_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_LeapYear_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_LeapYear_JSP/dist/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_LeapYear_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_PrimeNumber_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/JSTL_PrimeNumber_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Leap_Year_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Leap_Year_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Print_JSP_File/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Print_JSP_File/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/SI_using_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/SI_using_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Use_EL_JSP/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Use_EL_JSP/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/User_Theme_Using_cookie/build/
/SEM_5_PRACTICAL/JSP-Programs-main/User_Theme_Using_cookie/dist/
/SEM_5_PRACTICAL/JSP-Programs-main/User_Theme_Using_cookie/nbproject/private/
/SEM_5_PRACTICAL/JSP-Programs-main/Welcome_PageVisit_Cookie/build/
/SEM_5_PRACTICAL/JSP-Programs-main/Welcome_PageVisit_Cookie/dist/
/SEM_5_PRACTICAL/JSP-Programs-main/Welcome_PageVisit_Cookie/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Employee_Details/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Employee_Details/build/
/SEM_5_PRACTICAL/J2EE/JSP/visitCounter/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/visitCounter/build/
/SEM_5_PRACTICAL/J2EE/JSP/SessionBasedLogin/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/SessionBasedLogin/build/
/SEM_5_PRACTICAL/J2EE/JSP/WelcomeWithCookie/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/WelcomeWithCookie/build/
/SEM_5_PRACTICAL/J2EE/JSP/DateTime_EL/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/DateTime_EL/build/
/SEM_5_PRACTICAL/J2EE/JSP/DateTime_EL/dist/
/SEM_5_PRACTICAL/J2EE/JSP/Welcome_EL/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Welcome_EL/build/
/SEM_5_PRACTICAL/J2EE/JSP/Leap_year_JSTL/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Leap_year_JSTL/build/
/SEM_5_PRACTICAL/J2EE/JSP/Leap_year_JSTL/dist/
/SEM_5_PRACTICAL/J2EE/JSP/Even_Odd_JSTL/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Even_Odd_JSTL/build/
/SEM_5_PRACTICAL/J2EE/JSP/Prime_Number_JSTL/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/Prime_Number_JSTL/build/
/SEM_5_PRACTICAL/J2EE/JSP/Prime_Number_JSTL/dist/
/SEM_5_PRACTICAL/J2EE/JSP/divisibleBy2_JSTL/nbproject/private/
/SEM_5_PRACTICAL/J2EE/JSP/divisibleBy2_JSTL/build/
