/SEM_5_PRACTICAL/J2EE/student_tab/nbproject/private/
/SEM_5_PRACTICAL/J2EE/student_tab/build/
/SEM_5_PRACTICAL/J2EE/product_tab/nbproject/private/
/SEM_5_PRACTICAL/J2EE/product_tab/build/
/SEM_5_PRACTICAL/J2EE/FormHandlingApp/nbproject/private/
/SEM_5_PRACTICAL/J2EE/callable_pro/nbproject/private/
/SEM_5_PRACTICAL/J2EE/callable_pro/build/
/SEM_5_PRACTICAL/J2EE/metadata/nbproject/private/
/SEM_5_PRACTICAL/J2EE/metadata/build/
/SEM_5_PRACTICAL/J2EE/Hello_w/nbproject/private/
/SEM_5_PRACTICAL/J2EE/Hello_world/nbproject/private/
/SEM_5_PRACTICAL/J2EE/Hello_world/build/
/SEM_5_PRACTICAL/J2EE/Hello_world/dist/
